.nav {
	background-color: dodgerblue;
	text-align: center;
	padding: 20px 0;
}

.nav >a {
	margin: 0 10px;
	color: white;
	text-decoration: none;
	padding: 10px;
}

.nav >a:hover {
	background-color: white;
	color: dodgerblue;
}